<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mi.muncipality">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.mi.muncipality.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".user_home" />
        <activity android:name=".admin_login" />
        <activity android:name=".admin_home" />
        <activity android:name=".complaint" />
        <activity android:name=".registration" />
        <activity android:name=".new_connection" />
        <activity android:name=".status" />
        <activity android:name=".manage" />
        <activity android:name=".Withrawn" />
        <activity android:name=".registdbv" />
        <activity android:name=".compaintdbv" />
        <activity android:name=".new_connectiondbv" />
        <activity android:name=".database" />
        <activity android:name=".up_complaint" />
        <activity android:name=".up_newconn" />
        <activity android:name=".splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>